ul {
  background-color: rgb(149, 187, 221);
}

#watchList {
  list-style-type: decimal;
  padding: 0;
  display: grid;
  justify-content: center;
  text-align: start;

}

input {
  font-size: 1.2rem;
}

form>* {
  margin: .5rem;
}